p{
    color:green;
    }
    #x1{
    color:blue;
    }
    #x2{
    color:red;
    }
    #x3{
    color:orange;
    }
    #x4{
    color:purple;
    }
    #indenficador1{
    color:gray;
    }